body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

nav {
    padding: 0 1rem;
}

.content {
    /* height--> 100vh - (Header + Footer) */
    min-height: calc(100vh - 64px - 70px);
    padding: 1.5rem 0;
}
